@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.leftPanel {
    width: 280px;
    height: 100vh;
    position: fixed;
    background: #101217;
    left: 0;
    top: 0;
    transition: all .5s;


    
}

.leftPanel-active {
    left: -280px;
}

.rightPanel {
    width: calc(100% - 280px);
    height: 100vh;
    background: #ffffff;
    margin-left: 280px;
    transition: all .5s;
}

.rightPanel-active {
    margin-left: 0;
    width: 100%;
}

.logo-content {
    text-align: center;
    padding: 1rem;
    color: #fff;
}


/* ===Sidebar==== */

.sidebar .sideMenu {
    margin-top: 3rem;
    list-style: none;
    padding: 0;
}

.sidebar .sideMenu>li {
    line-height: 40px;
    padding: 10px 20px;
    margin-bottom: 2rem;
    border-radius: 30px 0px 0px 30px;
    transition: all 0.6s;
}

.sidebar .sideMenu .nav1-active {
    background: #ADD136;
    color: #000;
}
.sidebar .sideMenu li.nav1-active a {
    color: #000 !important;
}
.sidebar .sideMenu>li:hover {
    background: #ADD136;
}

.sidebar .sideMenu>li:hover a {
    color: #000;
}

.sidebar .sideMenu>li>a {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    transition: all 0.6s;
}

.sidebar .sideMenu>li>a .link-name {
    margin-left: 20px;
}

.sidebar .sideMenu>li>a i {
    font-size: 2rem;
}

.menu-btn {
    width: 50px;
    height: 50px;
    background: #57575794;
    display: block;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #add136;
}

.user-profile {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #add136;
}

.home-content {
    padding: 2rem;
    margin-top: 2rem;
}

header {
    position: fixed;
    width: calc(100% - 280px);
    top: 0;
    z-index: 9;
    transition: all .5s;
    background: #101217;
}

.dropdown-menu[data-bs-popper] {
    left: -38px;
}

.profile-dropdown .profile-toggle {
    color: #fff;
}

.profile-dropdown .nav-link:focus,
.nav-link:hover {
    color: rgb(173 209 54);
}

.rightPanel-active header {
    width: 100%;
}

.topCard-sec {
   /* padding: 13px;*/
}

.topCard-sec .dashHeading {
    margin: 1.5rem 0 2rem 0;
    color: #add136;
}

.topCard-sec .topCard {
    background: #ffffff;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0px 5px 24px rgb(222 222 222 / 79%);
    position: relative;
}

.topCard-sec .topCard>h3 {
    font-size: 2.4rem;
}

.topCard-sec .topCard>p {
    color: #000000;
}

.topCard-sec .topCard .topCrd-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.topCard-sec .topCard .topCrd-in>a {
    color: #9abb2e;
}

.topCard-sec .topCard .topCrd-in .iconBox {
    background: #ff9ce9;
    font-size: 2rem;
    padding: 12px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    position: absolute;
    top: -28px;
    right: 18px;
}

.topCard-sec .topCard .topCrd-in .iconBx2 {
    background: #add136;
}

.topCard-sec .topCard .topCrd-in .iconBx3 {
    background: #55b7ff !important;
}

.topCard-sec .topCard .topCrd-in .iconBx4 {
    background: #5dd38a !important;
}

.tableWrapper {
    padding: 1rem;
    margin-top: 2rem;
    background: #fff;
    box-shadow: 0px 6px 24px gainsboro;
    border-radius: 16px;
}



/*CUSTOM CSS*/
.cstm-anchorForDV {
    font-size: 13px;
    padding: 5px;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
    box-shadow: 0 0 1px #b6b1b1;
}
.ImgCstmTbls {
    HEIGHT: 80PX;
    WIDTH: 80PX;
    BORDER: 5PX SOLID #fff;
    BORDER-RADIUS: 50%;
}
    .ImgCstmTbls:before {
        HEIGHT: 80PX;
        WIDTH: 80PX;
        BORDER: 5PX SOLID #fff;
        BORDER-RADIUS: 50%;
        background-image: url(../image/user.jpg);
    }

.cstm-anchorForDV-file-elips{
    font-size: 13px;
    padding: 5px;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desktoplogo2{
    display:none;
}
.sidebar .sideMenu > li > a .link-name {
    font-size: 16px;
    line-height: 22px;
}
a.closesidbar {
    position: absolute;
    right: -11px;
    background: #fff;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #000;
    border-radius: 6px;
    top: 10px;
    display:none;
}
@media screen and (min-width:992px) {
    .leftPanel-active {
        width: 60px;
        left: 0;
    }
    .leftPanel-active .desktoplogo2{
        display:block;
    }
    .leftPanel-active .desktoplogo{
        display:none;
    }
    .rightPanel-active {
        margin-left: 60px;
        width: calc(100% - 60px);
    }
    .rightPanel-active header{
        width: calc(100% - 60px);
    }
    .leftPanel-active .sidebar .sideMenu > li > a .link-name {
        font-size:0;
        opacity:0;
    }


}

.currency {
    padding-left: 12px;
}

.currency-symbol {
    /* position: absolute;
    padding: 2px 5px;*/
    position: absolute;
    padding: 7px 5px 0px 2px;
}

.swal2-deny {
    background: #acd036 !important;
    color: #fff !important;
}


/*SweetAlertPopUp*/
.swal2-title {
    font-size: 20px !important;
}

.swal2-confirm {
    /*background-color: #ADD136 !important;*/
    color: white !important;
    border: none !important;
    border-color: #fff !important;
}
/*.swal2-confirm:active{
    border-color: #f00 !important;
}
    .swal2-confirm:focus {
        border-color: #f00 !important;
    }*/
.swal2-popup, .swal2-modal, .swal2-show {
    padding: 15px;
}

/*----- Loader -----*/

.logo-loader {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 999999;
    bottom: 0;
}

.logo-loader-pulse {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-box-shadow: 0px 0px 1px 1px #0000001a;
    box-shadow: 0px 0px 1px 1px #0000001a;
    background-color: #27292e;
}

.logo-loader .logo-loader-pulse img {
    width: 70%;
}

.pulse {
    -webkit-animation: pulse-animation 2s infinite;
    animation: pulse-animation 2s infinite;
}

@-webkit-keyframes pulse-animation {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
    }

    100% {
        -webkit-box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}

@keyframes pulse-animation {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
    }

    100% {
        -webkit-box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}

.AddCategoryAdmin, .AddVideoAdmin, .AddFAQAdmin {
    position: absolute;
    right: 10px;
    top: 19px;
}
.categoryTable {
    padding-top: 1.5rem;
    position: relative;
}
.categoryTable .dataTables_filter {
    position: relative;
    left: -130px;
}
.promoTable {
    padding-top: 1.5rem;
    position: relative;
}
    .promoTable .dataTables_filter {
        position: relative;
        left: -160px;
    }
.faqSection {
    padding-top: 1.5rem;
    position: relative;
}

.faqSection .dataTables_filter {
    position: relative;
    left: -90px;
}




body.loading .mm {
    overflow: hidden;
}

body.loading .mm {
    display: block;
}

.mm {
    display: none;
    background-color: rgba(0,0,0,0.8);
}

.modal1 {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 999999;
    bottom: 0;
}

.logo-loader-pulse {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-box-shadow: 0px 0px 1px 1px #0000001a;
    box-shadow: 0px 0px 1px 1px #0000001a;
    background-color: #27292e;
}

    .logo-loader-pulse img {
        width: 70%;
    }

.pulse {
    -webkit-animation: pulse-animation 2s infinite;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
    }

    100% {
        -webkit-box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}

.Prohz-Green {
    background-color: #ADD136 !important;
    color: white !important;
}

.error{
    color:red !important;
}



.sideMenu-container {
    min-height: 88vh;
    max-height: 88vh;
    overflow-y: scroll;
}




*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}
