@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Prohz, LLC Privacy Policy</h1>
<h1>Last updated on April 18, 2023</h1>


<p>
    This Privacy Policy discloses the privacy practices of Prohz, LLC (“Prohz”) and the possible uses
    of the information that we gather via www.prohz.net, our mobile application(s), and via other submissions
    by you to Prohz (together, the "Site and Services"). By using the Site and Services you consent to the terms
    of this Privacy Policy. If you do not agree to the terms and conditions of this Privacy Policy, including
    having your personally identifiable information ("Personal Information" as defined below) used in any of
    the ways described in this Privacy Policy, you may not be able to use certain parts or features of our Site
    and Services, and in some instances, this may necessitate the revocation of your membership. Prohz may
    update this Privacy Policy from time-to-time in our sole discretion. It is your responsibility to review the
    Privacy Policy for any changes each time that you use the Site and Services, and you are bound by such
    changes. Your use of the Site and Services following us posting a new privacy policy on our Site signifies
    that you agree to and accept the Privacy Policy as modified.
    This Privacy Policy applies to the entire Prohz family of products and services, such as our online
    services, our print publications, our call center services, and other Prohz products or services. This Privacy
    Policy is part of our Prohz Membership Agreement, Terms of Use, and all other terms of using our Site and
    Services.
</p>

<h1>Information Collected</h1>




<p>
    Prohz collects information on our users in various ways, such as, by your voluntary submissions,
    participation in services provided via the Site and Services, from third parties with your consent, and
    through cookie and other tracking technology. Prohz collects the following information:


</p>


<h1>Personal Information</h1>
<p>
    "Personal Information" refers to information that tells us specifically who you are, such as your
    name, phone number, email, postal address, and possibly information relating to certain support or customer
    service issues. In many cases, we need this information to provide to you many of the services that you may
    have requested
</p>
<h1>
    Session Data/Visit Recording
</h1>
<p>
    By visiting the Prohz Site and Services, you are agreeing that all your actions taken while visiting
    the Site and Services may be recorded by Prohz and provided to third parties and partners. These actions
    may include but are not limited to filling out webforms and accepting terms and conditions and providing
    consent to be contacted.
</p>
<h1>Cellular Phone Numbers</h1>
<p>
    By providing a cellular telephone number to us, you expressly consent, and authorize us or a third
    party on our behalf, to deliver text messages to the number you provide. You are not required to consent to
    these messages as a condition to purchasing any goods or services, but withholding your consent may
    prevent us from providing certain services to you. This consent encompasses all future text messages from
    us or a third party placing these messages on our behalf. You may revoke consent to receive text messages
    at any time by contacting Prohz, including by texting STOP.
</p>
<h1>Submission of Other Information</h1>
<p>
    We collect information that you voluntarily provide as part of our Site and Services ("User Generated
    Content"). Prohz may in our sole discretion share your User Generated Content with others such as your
    business reviews. If you do not want certain information shared with others, you should not submit User
    Generated Content, or should not submit User Generated Content that contains information or Personal
    Information you do not want shared in this manner. Once You have submitted User Generated Content, we
    reserve the right to publish it in any medium to others.
</p>
<h1>Aggregate Information</h1>
<p>
    We may collect general, non-personal, statistical information about the use of the Site and Services,
    such as how many visitors visit a specific page on the Site, how long they stay on that page, and which
    hyperlinks, if any, they click on. This information represents a generic overview of our users, including
    their collective viewing habits, and allows us and other third parties to modify information, promotions,
    offers and/or discounts on products and services based on user traffic and behavior. We collect this
    information using technologies such as 'cookies' and web beacons, which are discussed in greater detail
    below. We collect this information to help enhance the Site and Services to make for a better visitor
    experience.
</p>
<h1>Third Party Information</h1>
<p>
    We may supplement information you provide to us with information from other sources, such as
    information to validate or update your address, payment card or other demographic and lifestyle
    information. We use this information to help us maintain the accuracy of the information we collect, to
    enable us to fulfill our products and services, to target our communications so that we can inform you of
    products, services and offers that may be of interest, and for internal business analysis or other business
    purposes consistent with our mission.
</p>
<h1>Cookies</h1>
<p>
    Prohz may automatically collect non-personally identifiable information and data using cookies.
    Cookies are small text files a website uses to recognize repeat users, facilitate the user's ongoing access to
    the website and facilitate the use of the website. Cookies also allow a website to track usage behavior and
    compile site usage information that will allow for the improvement of content and target advertising. Most
    browsers allow you to control cookies, including whether to accept them and how to remove them. You
    may set your browsers to notify you if you receive a cookie, or you may choose to block cookies with your
    browser. However, please be aware that some features of our Site and Services may not function or may be
    slower if you refuse cookies. You may also get cookies from our advertisers or other third parties with links
    on the Site as described below. We do not directly control these cookies. The use of advertising cookies
    sent by third party ad servers is standard in the Internet industry.
    We may use the services of third parties to collect and use anonymous information about your visits
    to and interactions with our website using technologies such as cookies to personalize advertisements for
    goods and services. To learn more, visit the Digital Advertising Alliance Consumer Choice Page at
    http://www.aboutads.info/choices/.
</p>
<h1>
    Ad Choices
</h1>
<p>
    Prohz.net does not have ads in the app, where you connect with Contractors, Subcontractors or
    Homeowners. Prohz does not sell your information so that companies can send you ads or offers. Prohz
    does have a "Sponsors" section where advertisements are there to give you the choice of which ads you'd
    like to click through to. All Prohz Sponsors are industry related to remodeling, home building, and light
    commercial work.
</p>


<h1>Other Tracking Technologies</h1>
<p>Tracking technologies may record information such as Internet domain and host names; protocol (IP) addresses; browser software and operating system types; clickstream patterns; the MAC address or other technical information from your mobile device; location information through GPS, WiFi, Bluetooth, or similar technologies; and dates and times that our Site and Services are accessed.</p>
<p>An IP address is a number that is automatically assigned to your computer whenever you are surfing the web. Web servers, the computers that 'serve up' webpages, automatically identify your computer by its IP address. The Site and Services may also use technology called "tracer tags". These may also be referred to as "Pixels", "Clear GIFs" or "Web Beacons".</p>
<p>This technology allows us to understand which pages you visit on our Site and other ways you interact with our Site and Services, such as purchases made through the Site and Services. These tracer tags are used to help us to optimize and tailor our Site and Services for you and other users of our Site and Services. We may link the information we record using tracking technologies to Personal Information we collect.</p>

<h1>Do Not Track</h1>
<p>Do Not Track (DNT) is a privacy preference that users can set in some web browsers, allowing users to opt out of tracking by websites and online services. At the present time, the World Wide Web Consortium (W3C) has not yet established universal standards for recognizable DNT signals and therefore, Prohz and the Site do not recognize DNT.</p>

<h1>Use of Information</h1>
<p>The information Prohz collects is used in a variety of ways, including:</p>
<p>for internal review.</p>
<p>to improve the Site and Services.</p>
<p>to optimize third-party (sponsors) offers of products and/or services.</p>
<p>to verify the legitimacy of reviews and ratings.</p>
<p>to notify you about updates to the Site and Services.</p>
<p>to let you know about products, services, and promotions that you may be interested in.</p>
<p>to get reviews and ratings.</p>
<p>for our marketing purposes and the marketing of discounts offered through our Site and Services by service contractors (collectively "Service Providers").</p>
<p>to fulfill and provide products and services, including personalized or enhanced services, requested by you.</p>
<p>internal business analysis or other business purposes consistent with our mission.</p>
<p>to carry out other purposes that are disclosed to you and to which you consent.</p>

<h1>Disclosures and Transfers of Information</h1>
<p>We do not disclose Personal Information to third parties, except when one or more of the following conditions is true:</p>
<p>We have your permission to make the disclosure.</p>
<p>The disclosure is necessary for the purpose for which the personal information was obtained.</p>
<p>The disclosure is permitted by relevant law.</p>
<p>The Personal Information to be disclosed is otherwise publicly available in accordance with the applicable law.</p>
<p>The disclosure is reasonably related to the sale or other disposition of all or part of our business or assets.</p>
<p>The disclosure is for our own marketing purposes (including, without limitation, for Prohz to market services to you on third-party social media platforms such as Facebook), or, with your authorization, for the marketing purposes of third parties.</p>
<p>The disclosure is combined with information collected from other companies and used to improve and personalize services, content, and advertising from us or third parties.</p>
<p>The party to whom the disclosure is made controls, is controlled by, or is under common control with Prohz.</p>
<p>The disclosure is in our sole discretion necessary for the establishment or maintenance of legal claims or legal compliance, to satisfy any law, regulation, subpoena or government request, or in connection with litigation.</p>
<p>The disclosure is in our sole discretion about users who we believe are engaged in illegal activities or are otherwise in violation of our Prohz Membership Agreement, even without a subpoena, warrant or court order.</p>
<p>The disclosure is to outside businesses to perform certain services for us, such as maintaining our Site and Services, mailing lists, processing orders and delivering products and services, sending postal mail, processing claims for lost or stolen certificates, providing marketing assistance, confirming your identity for review integrity, and data analysis ("Administrative Service Providers"), including Administrative Service Providers outside the country or jurisdiction in which you reside.</p>
<p>Prior to sharing of your Personal Information with others, agreements are made between Prohz and such outside parties to whom we are transferring data to provide for the allowable use and security of the transferred information in accordance with this Privacy Policy and applicable law. If Prohz becomes aware that any such outside party is improperly using or disclosing Personal Information, it will notify that outside party and request that it take reasonable steps to cease such use or disclosure.</p>
<p>We may provide certain Personal Information as a service to others for their marketing purposes. We may also disclose your name and address to Service Providers when you submit User Generated Content relating to those Service Providers. If you properly notify us that you no longer want us to share your Personal Information, we will cease sharing your Personal Information. However, except as otherwise stated in this Privacy Policy, we do not directly control the third parties to which we share such Personal Information, and you will need to further notify such third parties directly if you would like them to cease use of your Personal Information.</p>
<p>We may also disclose aggregate visitor data to describe the use of the Site and Services to our existing or potential business partners or other third parties, or in response to a government request. We may also share aggregated demographic and preference data with third parties to enable the provision of targeted information, promotions, offers and/or discounts on products and services.</p>
<h1>Choice: Accessing Your Information and Opt-in/Opt-out Requests</h1>
<p>To help you review, edit, and control how we use much of the information we collect about you, you can visit your "Manage My Accounts" webpage. You cannot, however, unsubscribe from receiving certain emails, such as account status and billing related emails, unless you close your account and fulfill any existing contractual obligations.</p>
<p>You can also ask us whether we are keeping information about you; ask how your information is being used; ask us to update or correct your information; or opt-out of our collection and use of certain information by sending an email to <a href="mailto:info@prohz.net">info@prohz.net</a>, or by writing us at Help Desk, Prohz, LLC, 1375 N Eagle Ridge Path, Hernando, FL 34442, specifying the nature and scope of your request.</p>
<p>If you choose to opt-out of the collection and use of certain of your information, you understand that some services may no longer be available to you, potentially requiring the cancelation of your Membership. Please state in your correspondence the details of your request. We may require proof of your identity before we provide you with the requested information. We allow you to challenge the data that we hold about you and, where appropriate, you may have certain data erased, rectified, amended, or completed. Approved requests will be processed within ten (10) days of the date on which we receive the request.</p>

<h1>Data Security, Integrity, and Access</h1>
<p>The Personal Information you provide, and we collect is stored within databases that we control indirectly through our Administrative Service Providers. As we deem appropriate and as required by the applicable law, we use security measures appropriate for the sensitivity of the Personal Information and consistent with industry standards, including physical, organizational, and technological protections, such as firewalls, to protect your Personal Information. We also use industry standard encryption technology to protect credit card and password information. However, since no security system is impenetrable, we cannot guarantee the security of our databases, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet.</p>
<p>Personal Information may only be accessed by persons within our organization, our third-party service providers who require such access to provide you with the services indicated above, or any other party that you have provided us with authorization to share such information with.</p>
<p>We retain Personal Information that we collect only as long as reasonably necessary to fulfill the purposes for which it was collected or to otherwise meet any legal requirements.</p>
<p>Your information may be transferred to, and maintained on, computers located outside of your state, province/territory, or country where the privacy laws may not be as protective as those where you live. If you are located outside the United States and choose to provide information to us, please be aware that we transfer Personal Information to the United States and process and store it there. As a result, this information may be subject to access requests from governments, courts, law enforcement officials and national security authorities in the United States according to its laws. Subject to the applicable laws, we will use reasonable efforts to ensure that appropriate protections are in place to maintain protections on the Personal Information.</p>
<p>By submitting your Personal Information, you consent to having your personal data transferred to, processed, and stored in the United States. Prohz may assign you a user ID and a password as part of your participation and access to the Site and Services. Your user ID and password may only be used by you and the members of your household. You may not share your user ID and password with anyone else, and you are solely responsible for maintaining and protecting the confidentiality of your user ID and password. You are fully responsible for all activities that occur under your user ID and password. You can access and update your login information on your "Manage My Accounts" webpage.</p>

<h1>Credit Card Information</h1>
<p>We may share credit card information with trusted third parties to bill you for our service. We use third parties for secure credit card transaction processing, and we send billing information to those third parties to process your orders and payments or to validate your credit card information on file. Credit card information is encrypted during transmission and whenever stored within our systems or with our vendors.</p>
<p>In addition to utilizing encryption that meets the US Government’s FIPS 140-2 Certification, we take care to store only the amount of information required to bill you for services.</p>
<p>Our credit card processing vendors use security measures to protect your information both during the transaction and after it’s complete. Credit card processing vendors are certified as compliant with multiple industry-standard compliance frameworks including the Payment Card Industry (PCI) Service Provider Level 1, the SSAE-16 audit standard.</p>

<h1>Third Party Websites and Links</h1>
<p>Please note that you may have cookies placed on your computer by third party websites that refer you to the Site. Although we do not share your Personal Information with these third-party websites unless you have authorized us to do so, they may be able to link certain non-personally identifiable information we transfer to them with Personal Information they previously collected from you.</p>
<p>Please review the privacy policies of each website you visit to better understand their privacy practices. In addition, Prohz would like to inform you that anytime you click on links (including advertising banners), which take you to third party websites, you will be subject to the third parties' privacy policies.</p>
<p>While we support the protection of our customer's privacy on the Internet, Prohz expressly disclaims all liability for the actions of third parties, including but without limitation to actions relating to the use and/or disclosure of Personal Information by third parties.</p>
<p>Our Site and Services may contain links to other sites operated by third parties. Prohz does not control such other sites and is not responsible for their content, their privacy policies, or their use of Personal Information. Prohz's inclusion of such links does not, by itself, imply any endorsement of the content on such sites or of their owners or operators except as disclosed on the Site and Services. Any information submitted by you directly to these third parties is subject to that third party's privacy policy.</p>

<h1>Children's Privacy</h1>
<p>Prohz does not intend the Site and Services to be used by individuals under the age of majority within the jurisdiction within which they reside without the supervision of a parent or guardian of majority age.</p>
<p>Prohz relies upon such parents or guardians to determine if the Site and Services is appropriate for the viewing, access, or participation by such individuals under the age of majority. If an individual under the age of majority uses the Site and Services, such individual may only use the Site and Services under the supervision of a parent or guardian of majority age.</p>
<p>We do not seek or knowingly collect any Personal Information about children under 13 years of age. If we become aware that we have unknowingly collected Personal Information from a child under the age of 13, we will make commercially reasonable efforts to delete such information from our database.</p>
<p>If you are the parent or guardian of a minor child who has provided us with Personal Information, you may contact us using the information below to request it be deleted.</p>

<h1>Governing Law; Visitors Residing Outside the United States</h1>
<p>This Privacy Policy and the privacy practices of Prohz will be subject exclusively to the laws in which Prohz provides its services.</p>

<h1>Your California Privacy Rights</h1>
<p>This privacy policy describes how we may share your information for marketing purposes. It applies to all Prohz customers, including California residents:</p>
<p>We share information with others as more fully set forth above in Disclosures and Transfers of Information.</p>
<p>We share your information with other parts of our business and with our service providers. See above: Disclosures and Transfers of Information.</p>

<h1>Your Nevada Privacy Rights</h1>
<p>Under Nevada law, Nevada residents may opt out of the sale of certain “covered information” collected by operators of websites or online services. We currently do not sell covered information, as “sale” is defined by such law, and we don’t have plans to sell this information.</p>
<p>However, if you would like to be notified if we decide in the future to sell personal information covered by the Act, please email <a href="mailto:info@prohz.net">info@prohz.net</a> to provide your name and email address. You are responsible for updating any change in your email address by the same method and we are not obligated to cross-reference other emails you may have otherwise provided us for other purposes.</p>
<p>We will maintain this information and contact you if our plans change. At that time, we will create a process for verifying your identity and providing an opportunity to verified consumers to complete their opt-out.</p>
<p>Please become familiar with our data practices as set forth in this privacy policy. We may share your data as explained in this privacy policy, such as to enhance your experiences and our services, and those activities will be unaffected by a Nevada do not sell request.</p>
<p>You may also have other choices regarding our data practices as set forth elsewhere in this privacy policy.</p>
<p>You may contact us with any questions, or to request a list of third parties to whom we may disclose information for marketing purposes and the categories of information we may disclose. See below: How to Contact us.</p>

<h1>How to Contact Us</h1>
<p>All requests, questions, concerns, or complaints about your Personal Information or this Privacy Policy, please contact our Privacy Officer by mail or email at the following:</p>
<p>
    <strong>Attn:</strong> Privacy Officer<br>
    Prohz, LLC<br>
    1375 N Eagle Ridge Path, Hernando, FL 34442<br>
    <strong>Email:</strong> <a href="mailto:info@prohz.net">info@prohz.net</a>
</p>
<p>We welcome your questions and comments.</p>







<h1></h1>
<p></p>
<h1></h1>
<p></p>
<h1></h1>
<p></p>
<h1></h1>
<p></p>
<h1></h1>
<p></p>
<h1></h1>
<p></p>
<h1></h1>
<p></p>
<h1></h1>
<p></p>
<h1></h1>
<p></p>
