@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
@inject IViewLocalizer Localizer
<section class="mainbodysec">
<div class="container ">
   <div class="card">
  <div class="card-body">
                
                         <h1>About Us</h1>

                    <p>
                        Prohz is the missing link for both general contractors and subcontractors in the remodeling industry. There has not been an online website service that is up-to-date that just allows contractors and subcontractors to connect.
                    </p>

                    <p>
                        Until now!
                    </p>

                    <p>
                        Prohz memberships are devised a plan for everyone — we never charge contractors or subcontractors a dollar amount or a percentage of what they made by connecting to other members.
                    </p>

                    <p>
                        Unlike virtually every other remodeling website service out there, Prohz was developed from the ground up by experienced contractors who understand the frustrations of the remodeling industry.
                    </p>

                    <p>
                        Prohz simply takes the guess work out of contractors searching for qualified labor and subcontractors trying to find work in their area.
                    </p>

                    <p>
                        Our Goal is to become the largest site where both contractors and subcontractors come to hire and get hired for work in the United States.
                    </p>


    <a href="@Url.Action("SignUp","User")" class="card-link">@Localizer["Join Prohz"]</a>
  </div>
</div>
</div>
</section>