@{
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
@inject IViewLocalizer Localizer
<section class="mainbodysec">
<div class="container ">
   <div class="card">
  <div class="card-body">

                <h1>Mission Statement</h1>
                <p>At Prohz.com , our mission is to empower contractors and subcontractors to connect, network, and build lasting business relationships.</p>
                <p>Developed by contractors for contractors, our platform simplifies networking, enabling today’s trades professionals to expand their opportunities while paving the way for the future generation of tradespeople yet to launch their businesses. We understand the daily struggles of the trades and are committed to supporting their success every step of the way. Together, we’re shaping a stronger, more connected industry for tomorrow.</p>


    <a href="@Url.Action("SignUp","User")" class="card-link">@Localizer["Join Prohz"]</a>
  </div>
</div>
</div>
</section>