USE [master]
GO
/****** Object:  Database [KopkeHome-FMRS-QA]    Script Date: 9/13/2022 11:48:43 PM ******/
CREATE DATABASE [KopkeHome-FMRS-QA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KopkeHome-FMRS-QA', FILENAME = N'H:\SQL2019\MSSQL15.SQL2019\MSSQL\DATA\KopkeHome-FMRS-QA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KopkeHome-FMRS-QA_log', FILENAME = N'H:\SQL2019\MSSQL15.SQL2019\MSSQL\DATA\KopkeHome-FMRS-QA_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KopkeHome-FMRS-QA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KopkeHome-FMRS-QA]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddBusinessProfile]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddBusinessProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessDescription] [nvarchar](max) NOT NULL,
	[YearsInBusiness] [nvarchar](max) NOT NULL,
	[IsCompanyWebsite] [bit] NOT NULL,
	[CompanyWebsiteURL] [nvarchar](max) NOT NULL,
	[IsFacebookPage] [bit] NOT NULL,
	[FacebookPageURL] [nvarchar](max) NOT NULL,
	[CommercialLocation] [bit] NOT NULL,
	[NumberOfEmployees] [nvarchar](max) NOT NULL,
	[JobSiteCrews] [bit] NOT NULL,
	[IsPhoneCallSupport] [bit] NOT NULL,
	[NormalBusinessHours] [nvarchar](max) NOT NULL,
	[Is24HoursPhoneAnswering] [bit] NOT NULL,
	[IsOfferEmergencyServices] [bit] NOT NULL,
	[IsBusinessOrTradeLicense] [bit] NOT NULL,
	[IsLiabilityInsurance] [bit] NOT NULL,
	[IsWorkmanCompensationInsurance] [bit] NOT NULL,
	[IsCash] [int] NOT NULL,
	[ProfilePicture] [nvarchar](max) NOT NULL,
	[MyPrIsFreeEstimatesoperty] [nvarchar](max) NOT NULL,
	[EstimateCharge] [bit] NOT NULL,
	[IsDesignServices] [bit] NOT NULL,
	[DesignServices] [nvarchar](max) NOT NULL,
	[IsContactedByHomeowners] [bit] NOT NULL,
	[IsContactedBySubcontractors] [bit] NOT NULL,
	[IsContactedByContractors] [bit] NOT NULL,
	[ServiceCallCharge] [nvarchar](max) NOT NULL,
	[MC] [int] NOT NULL,
	[Visa] [int] NOT NULL,
	[AmEx] [int] NOT NULL,
	[OtherCreditCard] [int] NOT NULL,
	[IsPaymentApps] [int] NOT NULL,
	[WhichApps] [int] NOT NULL,
 CONSTRAINT [PK_AddBusinessProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PhoneNumberOffice] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[BusinessName] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[BusinessAddress] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[State] [nvarchar](max) NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[OTP] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
	[UniqueMemberId] [bigint] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessProfile]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessDescription] [nvarchar](1000) NULL,
	[YearsInBusiness] [nvarchar](50) NULL,
	[IsCompanyWebsite] [bit] NULL,
	[CompanyWebsiteURL] [nvarchar](50) NULL,
	[IsFacebookPage] [bit] NULL,
	[FacebookPageURL] [nvarchar](50) NULL,
	[CommercialLocation] [bit] NULL,
	[NumberOfEmployees] [nvarchar](50) NULL,
	[JobSiteCrews] [nvarchar](50) NULL,
	[IsPhoneCallSupport] [bit] NULL,
	[NormalBusinessHours] [nvarchar](50) NULL,
	[Is24HoursPhoneAnswering] [bit] NULL,
	[IsOfferEmergencyServices] [bit] NULL,
	[IsBusinessOrTradeLicense] [bit] NULL,
	[IsLiabilityInsurance] [bit] NULL,
	[IsWorkmanCompensationInsurance] [bit] NULL,
	[IsCash] [bit] NOT NULL,
	[MC] [int] NULL,
	[Visa] [int] NULL,
	[AmEx] [int] NULL,
	[OtherCreditCard] [int] NULL,
	[IsPaymentApps] [bit] NOT NULL,
	[ProfilePicture] [nvarchar](250) NULL,
	[EstimateCharge] [nvarchar](50) NULL,
	[IsDesignServices] [bit] NULL,
	[DesignServices] [nvarchar](50) NULL,
	[IsContactedByHomeowners] [bit] NULL,
	[IsContactedBySubcontractors] [bit] NULL,
	[UserId] [int] NOT NULL,
	[BusinessOrTradeLicenseFiles] [nvarchar](2000) NULL,
	[IsEstimateCharge] [bit] NOT NULL,
	[LiabilityInsuranceFile] [nvarchar](200) NULL,
	[WorkmanCompensationInsuranceFile] [nvarchar](200) NULL,
	[PersonalChecks] [bit] NOT NULL,
	[WhichPaymentApps] [nvarchar](50) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BusinessProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessProfileSubContractors]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessProfileSubContractors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BusinessDescription] [nvarchar](1000) NULL,
	[YearsInBusiness] [nvarchar](50) NULL,
	[IsCompanyWebsite] [bit] NOT NULL,
	[CompanyWebsiteURL] [nvarchar](50) NULL,
	[IsFacebookPage] [bit] NOT NULL,
	[FacebookPageURL] [nvarchar](50) NULL,
	[CommercialLocationContractor] [bit] NOT NULL,
	[NumberOfEmployees] [nvarchar](50) NULL,
	[JobSiteCrews] [nvarchar](50) NULL,
	[IsPhoneCallSupport] [bit] NOT NULL,
	[NormalBusinessHours] [nvarchar](50) NULL,
	[Is24HoursPhoneAnswering] [bit] NOT NULL,
	[IsOfferEmergencyServices] [bit] NOT NULL,
	[IsBusinessOrTradeLicense] [bit] NOT NULL,
	[BusinessOrTradeLicenseFiles] [nvarchar](2000) NULL,
	[IsLiabilityInsurance] [bit] NOT NULL,
	[LiabilityInsuranceFile] [nvarchar](200) NULL,
	[IsWorkmanCompensationInsurance] [bit] NOT NULL,
	[WorkmanCompensationInsuranceFile] [nvarchar](200) NULL,
	[IsCash] [bit] NOT NULL,
	[MC] [int] NOT NULL,
	[Visa] [int] NOT NULL,
	[AmEx] [int] NOT NULL,
	[OtherCreditCard] [int] NOT NULL,
	[PersonalChecks] [bit] NOT NULL,
	[IsPaymentApps] [bit] NOT NULL,
	[WhichPaymentApps] [nvarchar](50) NULL,
	[ProfilePicture] [nvarchar](250) NULL,
	[IsEstimateCharge] [bit] NOT NULL,
	[EstimateCharge] [nvarchar](50) NULL,
	[IsDesignServices] [bit] NOT NULL,
	[DesignServices] [nvarchar](50) NULL,
	[IsContactedByHomeowners] [bit] NOT NULL,
	[IsContactedByContractors] [bit] NOT NULL,
	[ServiceCallCharge] [nvarchar](50) NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ModifiedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BusinessProfileSubContractors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[StateId] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_Errors]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_Errors](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[ErrorNumber] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorLine] [int] NULL,
	[ErrorProcedure] [varchar](max) NULL,
	[ErrorMessage] [varchar](max) NULL,
	[ErrorDateTime] [datetime] NULL,
 CONSTRAINT [PK_DB_Errors] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipBenefitsPlan]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipBenefitsPlan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Categories] [nvarchar](50) NOT NULL,
	[ZipCodes] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[PricePerMonth] [money] NOT NULL,
	[PricePerYear] [money] NOT NULL,
	[PhoneApp] [bit] NOT NULL,
	[Website] [bit] NOT NULL,
	[AnnuallyStripePriceId] [nvarchar](max) NOT NULL,
	[MonthlyStripePriceId] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MembershipBenefitsPlan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](50) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMembershipCategories]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMembershipCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CategoriesId] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
 CONSTRAINT [PK_UserMembershipCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMembershipSubscriptions]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMembershipSubscriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
	[StripeStatus] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[StripeSubscriptionId] [nvarchar](250) NULL,
	[StripeCustomerID] [nvarchar](250) NULL,
	[InvoiceNumber] [nvarchar](250) NULL,
	[InvoiceUrl] [nvarchar](1000) NULL,
	[PeriodStartDate] [datetime2](7) NOT NULL,
	[PeriodEndDate] [datetime2](7) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[StripePriceId] [nvarchar](250) NULL,
	[CancelledOn] [datetime2](7) NOT NULL,
	[DowngradedOn] [datetime2](7) NOT NULL,
	[UpgradedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserMembershipSubscriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMembershipZipcodes]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMembershipZipcodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ZipCodeId] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
 CONSTRAINT [PK_UserMembershipZipcodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersZipcodesAndCategories]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersZipcodesAndCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ZipCodeId] [int] NOT NULL,
	[CategoriesId] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
 CONSTRAINT [PK_UsersZipcodesAndCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerifyOTP]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyOTP](
	[OtpId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[VerificationCode] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VerifyOTP] PRIMARY KEY CLUSTERED 
(
	[OtpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkGallery]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkGallery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ImageUrl] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_WorkGallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZipCode]    Script Date: 9/13/2022 11:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZipCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StateId] [int] NOT NULL,
	[Zipcode] [int] NOT NULL,
 CONSTRAINT [PK_ZipCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220302074804_MyFirst', N'6.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220302175727_first', N'6.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220303065654_SendOtp', N'6.0.4')
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [IsActive], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, 1, N'Contractor', NULL, NULL)
INSERT [dbo].[AspNetRoles] ([Id], [IsActive], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, 1, N'Sub-Contractor', NULL, NULL)
INSERT [dbo].[AspNetRoles] ([Id], [IsActive], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, 1, N'Independent Contractor', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[BusinessProfile] ON 

SET IDENTITY_INSERT [dbo].[BusinessProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[BusinessProfileSubContractors] ON 

SET IDENTITY_INSERT [dbo].[BusinessProfileSubContractors] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Air Duct Cleaning Companies')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Alarm/Security Companies')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Animal Control Companies')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipBenefitsPlan] ON 

INSERT [dbo].[MembershipBenefitsPlan] ([Id], [RoleId], [Categories], [ZipCodes], [Title], [PricePerMonth], [PricePerYear], [PhoneApp], [Website], [AnnuallyStripePriceId], [MonthlyStripePriceId]) VALUES (1, 1, N'1', N'10', N'Connect', 10.0000, 100.0000, 1, 1, N'price_1LLPSfKoRZM2RthNcRnqDATX', N'price_1LLPT6KoRZM2RthNn4xz90pK')
INSERT [dbo].[MembershipBenefitsPlan] ([Id], [RoleId], [Categories], [ZipCodes], [Title], [PricePerMonth], [PricePerYear], [PhoneApp], [Website], [AnnuallyStripePriceId], [MonthlyStripePriceId]) VALUES (2, 1, N'3', N'30', N'Expand', 30.0000, 300.0000, 1, 1, N'price_1LLPOnKoRZM2RthNAGVEv8M6', N'price_1LLPPJKoRZM2RthNgD5b7FBX')
INSERT [dbo].[MembershipBenefitsPlan] ([Id], [RoleId], [Categories], [ZipCodes], [Title], [PricePerMonth], [PricePerYear], [PhoneApp], [Website], [AnnuallyStripePriceId], [MonthlyStripePriceId]) VALUES (3, 1, N'10', N'100', N'Maximize', 100.0000, 1000.0000, 1, 1, N'price_1LLPPmKoRZM2RthNA3GiSm0I', N'price_1LLPQbKoRZM2RthNkAl68geU')
SET IDENTITY_INSERT [dbo].[MembershipBenefitsPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([StateId], [StateName], [CountryId]) VALUES (5, N'Alaska', 2)
INSERT [dbo].[State] ([StateId], [StateName], [CountryId]) VALUES (6, N'California', 2)
INSERT [dbo].[State] ([StateId], [StateName], [CountryId]) VALUES (7, N'Florida', 2)
SET IDENTITY_INSERT [dbo].[State] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMembershipCategories] ON 

INSERT [dbo].[UserMembershipCategories] ([Id], [UserId], [CategoriesId], [PlanId]) VALUES (1, 205, 1, 1)
INSERT [dbo].[UserMembershipCategories] ([Id], [UserId], [CategoriesId], [PlanId]) VALUES (2, 203, 1, 1)
INSERT [dbo].[UserMembershipCategories] ([Id], [UserId], [CategoriesId], [PlanId]) VALUES (3, 202, 1, 1)
SET IDENTITY_INSERT [dbo].[UserMembershipCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMembershipSubscriptions] ON 

SET IDENTITY_INSERT [dbo].[UserMembershipSubscriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMembershipZipcodes] ON 

INSERT [dbo].[UserMembershipZipcodes] ([Id], [UserId], [ZipCodeId], [PlanId]) VALUES (1, 205, 1, 1)
INSERT [dbo].[UserMembershipZipcodes] ([Id], [UserId], [ZipCodeId], [PlanId]) VALUES (2, 203, 1, 1)
INSERT [dbo].[UserMembershipZipcodes] ([Id], [UserId], [ZipCodeId], [PlanId]) VALUES (3, 202, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[UserMembershipZipcodes] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersZipcodesAndCategories] ON 

INSERT [dbo].[UsersZipcodesAndCategories] ([Id], [UserId], [ZipCodeId], [CategoriesId], [PlanId]) VALUES (1, 139, 1, 1, 1)
INSERT [dbo].[UsersZipcodesAndCategories] ([Id], [UserId], [ZipCodeId], [CategoriesId], [PlanId]) VALUES (2, 138, 2, 2, 1)
INSERT [dbo].[UsersZipcodesAndCategories] ([Id], [UserId], [ZipCodeId], [CategoriesId], [PlanId]) VALUES (3, 142, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[UsersZipcodesAndCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[VerifyOTP] ON 

INSERT [dbo].[VerifyOTP] ([OtpId], [Email], [VerificationCode], [Status], [CreatedDate], [ExpiryDate]) VALUES (1, N'mirh1@yopmail.com', N'157416', 1, CAST(N'2022-03-21T23:02:31.2647552' AS DateTime2), CAST(N'2022-03-21T23:12:31.2607531' AS DateTime2))
INSERT [dbo].[VerifyOTP] ([OtpId], [Email], [VerificationCode], [Status], [CreatedDate], [ExpiryDate]) VALUES (2, N'mirh3@yopmail.com', N'897431', 0, CAST(N'2022-03-21T23:37:29.5680779' AS DateTime2), CAST(N'2022-03-21T23:47:29.5680313' AS DateTime2))
INSERT [dbo].[VerifyOTP] ([OtpId], [Email], [VerificationCode], [Status], [CreatedDate], [ExpiryDate]) VALUES (3, N'mirh4@yopmail.com', N'600820', 0, CAST(N'2022-03-21T23:44:00.2019855' AS DateTime2), CAST(N'2022-03-21T23:54:00.2019301' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[VerifyOTP] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkGallery] ON 

INSERT [dbo].[WorkGallery] ([Id], [UserId], [ImageUrl]) VALUES (1, 140, N'002.jpg,12.jpg,1e19c745-59fb-4a39-867d-fcbbd05ae785pexels-simon-berger-1323550.jpg,204f490c-263d-4bd6-8142-43dda703187clogin1.jpg')
SET IDENTITY_INSERT [dbo].[WorkGallery] OFF
GO
SET IDENTITY_INSERT [dbo].[ZipCode] ON 

INSERT [dbo].[ZipCode] ([Id], [StateId], [Zipcode]) VALUES (1, 10, 85030)
INSERT [dbo].[ZipCode] ([Id], [StateId], [Zipcode]) VALUES (2, 10, 85087)
INSERT [dbo].[ZipCode] ([Id], [StateId], [Zipcode]) VALUES (3, 10, 85704)
SET IDENTITY_INSERT [dbo].[ZipCode] OFF
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusinessProfile_UserId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusinessProfile_UserId] ON [dbo].[BusinessProfile]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusinessProfileSubContractors_UserId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_BusinessProfileSubContractors_UserId] ON [dbo].[BusinessProfileSubContractors]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_City_StateId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_City_StateId] ON [dbo].[City]
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MembershipBenefitsPlan_RoleId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_MembershipBenefitsPlan_RoleId] ON [dbo].[MembershipBenefitsPlan]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMembershipCategories_CategoriesId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserMembershipCategories_CategoriesId] ON [dbo].[UserMembershipCategories]
(
	[CategoriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMembershipCategories_PlanId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserMembershipCategories_PlanId] ON [dbo].[UserMembershipCategories]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMembershipCategories_UserId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserMembershipCategories_UserId] ON [dbo].[UserMembershipCategories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMembershipSubscriptions_UserId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserMembershipSubscriptions_UserId] ON [dbo].[UserMembershipSubscriptions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMembershipZipcodes_PlanId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserMembershipZipcodes_PlanId] ON [dbo].[UserMembershipZipcodes]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMembershipZipcodes_UserId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserMembershipZipcodes_UserId] ON [dbo].[UserMembershipZipcodes]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMembershipZipcodes_ZipCodeId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserMembershipZipcodes_ZipCodeId] ON [dbo].[UserMembershipZipcodes]
(
	[ZipCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsersZipcodesAndCategories_CategoriesId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UsersZipcodesAndCategories_CategoriesId] ON [dbo].[UsersZipcodesAndCategories]
(
	[CategoriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsersZipcodesAndCategories_PlanId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UsersZipcodesAndCategories_PlanId] ON [dbo].[UsersZipcodesAndCategories]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsersZipcodesAndCategories_UserId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UsersZipcodesAndCategories_UserId] ON [dbo].[UsersZipcodesAndCategories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsersZipcodesAndCategories_ZipCodeId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UsersZipcodesAndCategories_ZipCodeId] ON [dbo].[UsersZipcodesAndCategories]
(
	[ZipCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkGallery_UserId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkGallery_UserId] ON [dbo].[WorkGallery]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZipCode_StateId]    Script Date: 9/13/2022 11:48:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_ZipCode_StateId] ON [dbo].[ZipCode]
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [UniqueMemberId]
GO
ALTER TABLE [dbo].[BusinessProfile] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[BusinessProfile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsEstimateCharge]
GO
ALTER TABLE [dbo].[BusinessProfile] ADD  DEFAULT (CONVERT([bit],(0))) FOR [PersonalChecks]
GO
ALTER TABLE [dbo].[BusinessProfile] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[BusinessProfile] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[BusinessProfileSubContractors] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[BusinessProfileSubContractors] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[MembershipBenefitsPlan] ADD  DEFAULT ((0.0)) FOR [PricePerMonth]
GO
ALTER TABLE [dbo].[MembershipBenefitsPlan] ADD  DEFAULT ((0.0)) FOR [PricePerYear]
GO
ALTER TABLE [dbo].[MembershipBenefitsPlan] ADD  DEFAULT (CONVERT([bit],(0))) FOR [PhoneApp]
GO
ALTER TABLE [dbo].[MembershipBenefitsPlan] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Website]
GO
ALTER TABLE [dbo].[MembershipBenefitsPlan] ADD  DEFAULT (N'') FOR [AnnuallyStripePriceId]
GO
ALTER TABLE [dbo].[MembershipBenefitsPlan] ADD  DEFAULT (N'') FOR [MonthlyStripePriceId]
GO
ALTER TABLE [dbo].[UserMembershipSubscriptions] ADD  DEFAULT ((0)) FOR [PlanId]
GO
ALTER TABLE [dbo].[UserMembershipSubscriptions] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CancelledOn]
GO
ALTER TABLE [dbo].[UserMembershipSubscriptions] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DowngradedOn]
GO
ALTER TABLE [dbo].[UserMembershipSubscriptions] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [UpgradedOn]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BusinessProfile]  WITH CHECK ADD  CONSTRAINT [FK_BusinessProfile_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessProfile] CHECK CONSTRAINT [FK_BusinessProfile_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BusinessProfileSubContractors]  WITH CHECK ADD  CONSTRAINT [FK_BusinessProfileSubContractors_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessProfileSubContractors] CHECK CONSTRAINT [FK_BusinessProfileSubContractors_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_State_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([StateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_State_StateId]
GO
ALTER TABLE [dbo].[MembershipBenefitsPlan]  WITH CHECK ADD  CONSTRAINT [FK_MembershipBenefitsPlan_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MembershipBenefitsPlan] CHECK CONSTRAINT [FK_MembershipBenefitsPlan_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[UserMembershipCategories]  WITH CHECK ADD  CONSTRAINT [FK_UserMembershipCategories_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMembershipCategories] CHECK CONSTRAINT [FK_UserMembershipCategories_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserMembershipCategories]  WITH CHECK ADD  CONSTRAINT [FK_UserMembershipCategories_Categories_CategoriesId] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMembershipCategories] CHECK CONSTRAINT [FK_UserMembershipCategories_Categories_CategoriesId]
GO
ALTER TABLE [dbo].[UserMembershipCategories]  WITH CHECK ADD  CONSTRAINT [FK_UserMembershipCategories_MembershipBenefitsPlan_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[MembershipBenefitsPlan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMembershipCategories] CHECK CONSTRAINT [FK_UserMembershipCategories_MembershipBenefitsPlan_PlanId]
GO
ALTER TABLE [dbo].[UserMembershipSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_UserMembershipSubscriptions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMembershipSubscriptions] CHECK CONSTRAINT [FK_UserMembershipSubscriptions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserMembershipZipcodes]  WITH CHECK ADD  CONSTRAINT [FK_UserMembershipZipcodes_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMembershipZipcodes] CHECK CONSTRAINT [FK_UserMembershipZipcodes_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserMembershipZipcodes]  WITH CHECK ADD  CONSTRAINT [FK_UserMembershipZipcodes_MembershipBenefitsPlan_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[MembershipBenefitsPlan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMembershipZipcodes] CHECK CONSTRAINT [FK_UserMembershipZipcodes_MembershipBenefitsPlan_PlanId]
GO
ALTER TABLE [dbo].[UserMembershipZipcodes]  WITH CHECK ADD  CONSTRAINT [FK_UserMembershipZipcodes_ZipCode_ZipCodeId] FOREIGN KEY([ZipCodeId])
REFERENCES [dbo].[ZipCode] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMembershipZipcodes] CHECK CONSTRAINT [FK_UserMembershipZipcodes_ZipCode_ZipCodeId]
GO
ALTER TABLE [dbo].[UsersZipcodesAndCategories]  WITH CHECK ADD  CONSTRAINT [FK_UsersZipcodesAndCategories_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersZipcodesAndCategories] CHECK CONSTRAINT [FK_UsersZipcodesAndCategories_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UsersZipcodesAndCategories]  WITH CHECK ADD  CONSTRAINT [FK_UsersZipcodesAndCategories_Categories_CategoriesId] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersZipcodesAndCategories] CHECK CONSTRAINT [FK_UsersZipcodesAndCategories_Categories_CategoriesId]
GO
ALTER TABLE [dbo].[UsersZipcodesAndCategories]  WITH CHECK ADD  CONSTRAINT [FK_UsersZipcodesAndCategories_MembershipBenefitsPlan_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[MembershipBenefitsPlan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersZipcodesAndCategories] CHECK CONSTRAINT [FK_UsersZipcodesAndCategories_MembershipBenefitsPlan_PlanId]
GO
ALTER TABLE [dbo].[UsersZipcodesAndCategories]  WITH CHECK ADD  CONSTRAINT [FK_UsersZipcodesAndCategories_ZipCode_ZipCodeId] FOREIGN KEY([ZipCodeId])
REFERENCES [dbo].[ZipCode] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersZipcodesAndCategories] CHECK CONSTRAINT [FK_UsersZipcodesAndCategories_ZipCode_ZipCodeId]
GO
ALTER TABLE [dbo].[WorkGallery]  WITH CHECK ADD  CONSTRAINT [FK_WorkGallery_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkGallery] CHECK CONSTRAINT [FK_WorkGallery_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ZipCode]  WITH CHECK ADD  CONSTRAINT [FK_ZipCode_State_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([StateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZipCode] CHECK CONSTRAINT [FK_ZipCode_State_StateId]
GO
USE [master]
GO
