@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

  <div class="dashboard-main-container">
        <div class="dashboard-top-heading">
            <h3 class="green-clr mb-5">Contractor List</h3>
        </div>

     <div class="dashboard-main-inner-content">
     <div class="table-design">
         <div class="contractor-availability">
             <div class="green-available"><img src="../images/available.png" width="30px" /><span>Booking for Now (0-4 weeks)</span></div>
             <div class="yellow-appoint"><img src="../images/appoint.png" width="30px" /><span>Booking for Soon (5-8 weeks)</span></div>
             <div class="red-booked"><img src="../images/booked.png" width="30px" /><span>Booking for Later (9-52 weeks)</span></div>
         </div>
                <table id="example" class="table text-white dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                           
                            <th>
                                User Type
                            </th>
                            <th>
                               Contractor Name
                            </th>
                          
                            <th>
                               Email Address
                            </th>
                            <th>
                                Company Name
                            </th>
                            <th>
                               Mobile Number
                            </th>
                          
                            <th>
                                Category
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Activity
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                              
                    </tbody>
                </table>
     </div>

   


</div>

   </div>