@model KopkeHome_ModelLayer.DataModel.VerifyOTP;

@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="modal p-0 fade contactorModal-email-varification" data-keyboard="false" data-backdrop="static" id="contactorModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Email Verification</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="text-center email-varification-main-heading">
                        <h3 class="text-white">Enter OTP</h3>
                        <p>Please check your email and enter the OTP below to verify you email ID.</p>
                    </div>
                    <div class="userInput">
                        <input type="text" id='ist' maxlength="1" onkeyup="clickEvent(this,'sec')">
                        <input type="text" id="sec" maxlength="1" onkeyup="clickEvent(this,'third')">
                        <input type="text" id="third" maxlength="1" onkeyup="clickEvent(this,'fourth')">
                        <input type="text" id="fourth" maxlength="1" onkeyup="clickEvent(this,'fifth')">
                        <input type="text" id="fifth" maxlength="1" onkeyup="clickEvent(this,'sixth')">
                        <input type="text" id="sixth" maxlength="1">
                    </div>
                    <div class="verify-email text-center mb-2">
                        <button type="button" class="btn green-email-verify-btn" data-dismiss="modal">Verify</button>
                    </div>
                    <div class="text-center resend-email-otp">
                        <p class="mb-0"> Didn't receive the OTP?</p>
                        <a href="#" class="orange-clr">Resend again</a>
                    </div>
                </div>
            </div>
        </div>
         </div>
