@Html.AntiForgeryToken()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Prohz</title>



    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">


     @*<link rel="stylesheet" href="~/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/master.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />




</head>
<body>


    
  <div class="logo-loader">
        <div class="logo-loader-pulse pulse" id="Idloader"><img id="Logoimgurl" src="~/images/Kopke-brand-logo.png" /></div>
    </div>

    <div class="mm">
     <div class="modal1">

        <div class="logo-loader-pulse pulse" id="Idloader"><img src="~/images/Kopke-brand-logo.png" /></div>
    </div>
   </div>
    <div>
        <main role="main">
            @RenderBody()
           
        </main>
    </div>
    

    <!-- Latest compiled and minified CSS -->
@* <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
 <script src="~/js/jquery.min.js"></script>
  <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
<!-- jQuery library -->


<!-- Popper JS -->
@*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>*@

<!-- Latest compiled JavaScript -->
@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>*@



    <!-- jQuery library -->
@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/ValidateForms.js" asp-append-version="true"></script>
    <script>
 var urlprefix = '';
    if (window.location.href.indexOf("KopkeHome-FMRS-QA") > -1) {
        urlprefix = '/KopkeHome-FMRS-QA';
    }

    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>

